@font-face {
    font-family: HelveticaNeue;
    src: url("../fonts/HelveticaNeue.ttf");
  }
@font-face {
    font-family: HelveticaNeueBold;
    src: url("../fonts/Helvetica\ Neu\ Bold.ttf");
  }
@font-face {
    font-family: HelveticaNeueLight;
    src: url("../fonts/HelveticaNeue\ Light.ttf");
  }
@font-face {
    font-family: HelveticaNeueMedium;
    src: url("../fonts/HelveticaNeue\ Medium.ttf");
  }
